<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <!-- <div class="row">
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Traffic</h5>
                  <span class="h2 font-weight-bold mb-0">350,897</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                    <i class="fas fa-chart-bar"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                <span class="text-nowrap">Since last month</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">New users</h5>
                  <span class="h2 font-weight-bold mb-0">2,356</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                    <i class="fas fa-chart-pie"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-danger mr-2"><i class="fas fa-arrow-down"></i> 3.48%</span>
                <span class="text-nowrap">Since last week</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Sales</h5>
                  <span class="h2 font-weight-bold mb-0">924</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                    <i class="fas fa-users"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-warning mr-2"><i class="fas fa-arrow-down"></i> 1.10%</span>
                <span class="text-nowrap">Since yesterday</span>
              </p>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Sales</h5>
                  <span class="h2 font-weight-bold mb-0">924</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                    <i class="fas fa-users"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-warning mr-2"><i class="fas fa-arrow-down"></i> 1.10%</span>
                <span class="text-nowrap">Since yesterday</span>
              </p>
            </div>
          </div>
        </div>

      </div> -->
    </div>
  </div>
</div>
<!-- Page content -->

<div class="container-fluid mt--7">
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">

          <div class="row">
            <div class="col-md-8 mt-5">
              <div class="input-group">
                <button type="button" class="btn btn-default" (click)="navigateToCorporatesAdd()">Add Corporate</button>

              </div>
            </div>
            <div class="col-md-4 mt-5 justify-content-end">
              <div class="input-group">
                <input class="form-control py-2 rounded-pill mr-1 pr-5" type="search" value="search"
                  id="example-search-input" placeholder="Search" [(ngModel)]="searchQuery" (input)="filterData()">


              </div>
            </div>

          </div>
        </div>
        <ng-container *ngIf="filteredData.length > 0; else noDataTemplate">

          <div class="table-responsive">



            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Sl No.</th>
                  <th scope="col">Name</th>
                  <th scope="col">Email</th>
                  <!-- <th scope="col">Address</th> -->
                  <th scope="col">Contact</th>
                  <th scope="col">User Group Levels</th>
                  <!-- <th scope="col">User Group Names</th> -->
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngIf="filteredData.length > 0; else noDataTemplate">
                  <tr *ngFor="let row of filteredData; let i = index" [ngClass]="{'light-red-row': row.corporateStatus === 0}">
                    <td>{{ skip + i + 1 }}</td>
                    <td>{{ row.FullName }}</td>
                    <td>{{ row.corporateEmail }}</td>
                    <!-- <td>{{ row.corporateAddress }}</td> -->
                    <td>{{ row.corporateContact }}</td>
                    <td>{{ row.corporateUserGroupLevels }}</td>
                    <!-- <td>{{ row.corporateUserGroupNames }}</td> -->
                    <td>
                      <div ngbDropdown placement="bottom-right">
                        <a class="btn btn-sm btn-icon-only text-light" ngbDropdownToggle>
                          <i class="fa-solid fa-ellipsis"></i>
                        </a>
                        <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                          <a class="dropdown-item" href="javascript:void(0)"
                            (click)="getCorporateUserList(row.corporateID)">Users</a>
                          <a class="dropdown-item" href="javascript:void(0)" (click)="getCorporateVendorList(row.corporateID)">Linked Vendors </a>
                          <a class="dropdown-item" href="javascript:void(0)" (click)="updateCorporate(row.corporateID)">Edit Details</a>
                          <a *ngIf="row.corporateStatus === 0" class="dropdown-item" href="javascript:void(0)" (click)="deleteCorporate(row.corporateID)">Activate Corporate</a>
                          <a *ngIf="row.corporateStatus === 1" class="dropdown-item" href="javascript:void(0)" (click)="deleteCorporate(row.corporateID)">Deactivate Corporate</a>

                        </div>
                      </div>
                    </td>
                  </tr>
                </ng-container>
              </tbody>
            </table>

          </div>
          <div class="card-footer py-4">
            <nav aria-label="..." *ngIf="paginationArray.length > 1">
              <ul class="pagination justify-content-end mb-0">
                <li class="page-item">
                  <a class="page-link" href="javascript:void(0)" tabindex="-1" (click)="goToPage('previous')">
                    <i class="fas fa-angle-left"></i>
                    <span class="sr-only">Previous</span>
                  </a>
                </li>
                <li class="page-item" *ngFor="let page of paginationArray"
                  [ngClass]="{ 'active': page === currentPage }">
                  <a class="page-link" href="javascript:void(0)" (click)="goToPage(page)">{{page}}</a>
                </li>
                <li class="page-item"
                  [ngClass]="{ 'disabled': currentPage === paginationArray[paginationArray.length - 1] }">
                  <a class="page-link" href="javascript:void(0)" (click)="goToPage('next')">
                    <i class="fas fa-angle-right"></i>
                    <span class="sr-only">Next</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>

        </ng-container>
        <ng-template #noDataTemplate>
          <div class="text-center py-4">
            <h4>No data found</h4>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>